.include-custom-font(@family: @din, @weight: normal, @style: normal){
	@font-face{			
		font-family: "@{family}";			
		src:	url('@{url-path-fonts}/@{family}.woff2') format('woff2'),
				url('@{url-path-fonts}/@{family}.woff') format('woff');
		font-weight: @weight;
		font-style: @style;		
	}
}
.include-custom-icon(@family: @icon, @weight: normal, @style: normal){
	@font-face{			
		font-family: "@{family}";			
		src: url('@{url-path-fonts}/@{family}.woff') format('woff');
		font-weight: @weight;
		font-style: @style;		
	}
}
.include-custom-font(@family: @code, 		@weight: normal, @style: normal);
.include-custom-font(@family: @code-bold, 		@weight: normal, @style: normal);
.include-custom-font(@family: @code-lc, 		@weight: normal, @style: normal);
.include-custom-font(@family: @code-lc-bold, 		@weight: normal, @style: normal);
.include-custom-font(@family: @far, 		@weight: normal, @style: normal);
.include-custom-font(@family: @far-bold, 		@weight: normal, @style: normal);
.include-custom-font(@family: @far-italic, 		@weight: normal, @style: normal);
.include-custom-font(@family: @far-light, 		@weight: normal, @style: normal);
.include-custom-font(@family: @proxima, 		@weight: normal, @style: normal);

.include-custom-icon(@family: @icon, 			@weight: normal, @style: normal);